// screen sizes
$desktop: 1200px;
$desktop-sm: 992px;
$tablet: 768px;
$tablet-sm: 640px;
$mobile-landscape: 576px;
$mobile: 480px;
$mobile-sm: 320px;

// z-index
$z-menu: 1000;
$z-locker: 900;
$z-normal: 5;
